<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ site_title }}!
  </h1>

  <app-login></app-login>
  <div class="container" *ngIf='logged_in'>
    <table class="table table-bordered table-stripped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of tasks; let i = index">
        <tr>
          <td>{{i + 1}}</td>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td><button type="submit" (click)="editTask(task.id);" class="btn btn-warning">Edit</button></td>
          <td><button type="submit" (click)="btnClick(task.id);" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
        <form class="col-lg-6" #taskAddForm="ngForm" (ngSubmit)="onSubmit(taskAddForm.value)">     
            <input class="form-control" name="title" [(ngModel)]="title" placeholder="Title for your note?">
            <br>
            <input class="form-control" name="description" [(ngModel)]="description" placeholder="Description for your note?">
            <br>
            <button class="btn btn-primary" type="submit">Add New Task</button>
          </form>
      
          <form class="col-lg-6" #taskEditForm="ngForm" (ngSubmit)="onEdit(taskEditForm.value)">     
              <input class="form-control" name="title" [(ngModel)]="etitle" placeholder="Title for your note?">
              <br>
              <input class="form-control" name="description" [(ngModel)]="edescription" placeholder="Description for your note?">
              <br>
              <button class="btn btn-primary" type="submit">Edit Task</button>
          </form>
    </div>
  </div>
</div>



