<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <input [(ngModel)]="register.username" placeholder="Username">
  <br>
  <input [(ngModel)]="register.password" type="password" placeholder="Password">
  <br>
  <input [(ngModel)]="register.email" type="email" placeholder="Email please">
  <br> -->
  <button (click)="show_all_notes()">Show All Notes</button>
  <!-- {{tasks}} -->
  <div *ngFor="let task of tasks" style="text-align: left">
    ID: {{task.id}}
    <br>
    Title: {{task.title}}
    <br>
    Description: {{task.description}}
    <br>
    <br>
  </div>
</div>

